/**************************************/
/************** CUSTOM ****************/
/**************************************/

@media (min-width: 768px) {
  .menu-principal .nav-item.ancho-definido {
    width: 110px;
  }

  .redes {
    width: 60px;
  }
}

@media (max-width: 767px) {
  .navbar-brand img {
    width: 120px;
  }
}

.cursiva {
  font-family: 'Dancing Script', cursive;
}


.bg-negro {
    background-color: black;
}


.bg-rojo {
    background-color: red;
}
