/**************************************/
/************** CUSTOM ****************/
/**************************************/

@media (min-width: 768px) {
	.menu-principal .nav-item.ancho-definido {
		width: 110px;
	}
	.redes {
		width: 60px;
	}
}

@media (max-width: 767px) {
	.navbar-brand img {
		width: 120px;
	}
}

body {
        margin: 0;
}

.cursiva {
	font-family: 'Dancing Script', cursive;
}

.text-descripcion {
	font-family: 'Spartan', sans-serif;
}

.bg-negro {
	background-color: black;
}

.bg-rojo {
	background-color: red !important;
}

.pie-pagina {
    background-image: url('img/footer.jpg');
    background-repeat:round;
    background-size:cover;
}

.form-pie-pagina{
    border-color: #000;    
}

.form-pie-pagina input::placeholder, .form-pie-pagina textarea::placeholder {
    color: #000;
}

.borde-rojo{
    border-color: red;
}
.texto-blanco {
    color: white;
}

.texto-negro {
    color: black;
}


.borde-inferior {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

div {
	box-sizing: border-box;
}
