/**************************************/
/************** CUSTOM ****************/
/**************************************/

@media (min-width: 768px) {
	.menu-principal .nav-item.ancho-definido {
		width: 110px;
	}
	.redes {
		width: 60px;
	}
}

@media (max-width: 767px) {
	.navbar-brand img {
		width: 120px;
	}
}

.cursiva {
	font-family: 'Dancing Script', cursive;
}

.text-descripcion {
	font-family: 'Spartan', sans-serif;
}

.bg-negro {
	background-color: black;
}

.bg-rojo {
	background-color: red;
}

.pie-pagina {
    background-image: url('img/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-pie-pagina{
    border-color: #000;    
}

.form-pie-pagina input::placeholder, .form-pie-pagina textarea::placeholder {
    color: #000;
}

.borde-rojo{
    border-color: red;
}
.text-blanco {
    color: black;
}