/* agrupacion pro coma */
.parrafo-3, h1 {
    color: red;
}

/* por parentezco */
div ul li a, .parrafo-1 {
    color: antiquewhite;
}

input:focus {
    background-color: orange;
}

p:hover {
    color: chartreuse;
}