body {
	font-family: 'Tinos', serif;
	font-size: 18px;
}

div {
	box-sizing: border-box;
}

.encabezado {
	overflow: auto;
    padding: 10px;
}

.menu p {
    margin: 0;
}

.menu-izq {
	width: 50%;
}
.menu-der {
	width: 50%;
	float: right;
}

.contacto {
	padding-top: 10px;
	width: 50%;
    text-align: center;
	float: right;
}

.telefono {
	width: 50%;
	float: left;
}

.redes-sociales {
    width: 40%;
    float: right;
    padding-top: 10px;
}

.num-tel {
	font-weight: bolder;
}

.num-tel p {
    margin-top: 100;
    margin-bottom: 140px;
}

.flotante {
	float: left;
}

.menu {
	text-align: right;
    width: 50%;
}

.menu a {
	display: inline-block;
	text-decoration: none;
	padding-right: 15px;
	text-decoration: none;
}

.banner {
	background-image: url("img/banner.jpg");
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 691px;
}

.herramientas {
    background-image: url(img/herramientas.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 603px;
}

.banner h1 {
	padding: 377px 15% 0% 43%;
    width: 50%;
    height: 40px;
}

.banner h2 {
	padding: 10px 80px 0px 50%;
	height: 40px;
}

.descripcion img {
	padding: 53px 64% 0 ;
}

.contenido-feria {
    width: 50%;
    float: right;
    text-align: right;
    padding: 0px 5%;
    font-size: 17px;
}

.ingreso-feria {
	border: none;
	color: 16458E;
    margin-top: 20px;
	padding: 15px 32px;
	font-size: 18px;
	font-family: 'Tinos', serif;
}

.pie-pagina {
    overflow: auto;
    padding: 20px;
}